<div class="chart" ...attributes>
  <canvas
    class="chart-canvas"
    width={{@width}}
    height={{@height}}
    {{did-insert this.drawChart}}
    {{did-update this.updateChart @data @options}}
  >
  </canvas>
</div>
{{#if @useLegend}}
  <div class="chart-legend">{{html-safe this.legend}}</div>
{{/if}}
