<h2 id="title">Testing the ChartJS Component</h2>

<div class="flex">
  <div class="circle-chart-card">
    <h3>Doughnut Chart with Legend</h3>
    <EmberChart @type="doughnut" @data={{this.pieData}} @width={{200}} @height={{200}} @options={{this.options}} />
  </div>

  <div class="circle-chart-card">
    <h3>Pie Chart 100px height</h3>
    <EmberChart @type="pie" @data={{this.this.pieData}} @width={{200}} @height={{100}} @options={{this.options}} />
  </div>

  <div class="circle-chart-card">
    <h3>Chart</h3>
    <p>
      Chart should have
      <strong>height</strong> property <br>
      set to a value.
      E.g: 200
    </p>
    <p>Otherwise it will default to 150px height
    </p>
  </div>

</div>

<div class="flex">
  <div>
    <h3>Bar Chart</h3>
    <EmberChart @type="bar" @data={{this.barData}} @width={{600}} @height={{200}} @options={{this.options}} />
  </div>
</div>

<div class="flex">
  <div>
    <h3>Line Chart</h3>
    <EmberChart @type="line" @data={{this.lineData}} @width={{600}} @height={{200}} @options={{this.options}} />
  </div>
</div>

<div class="flex">
  <div>
    <h3>Radar Chart</h3>
    <EmberChart @type="radar" @data={{this.radarData}} @width={{400}} @height={{400}} @options={{this.options}} />
  </div>

  <div>
    <h3>Polar Area Chart</h3>
    <EmberChart @type="polarArea" @data={{this.polarAreaData}} @width={{400}} @height={{400}} @options={{this.options}} />
  </div>
</div>
{{outlet}}
